/* 
Product Category
*/
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(var(--bg-dark), .69);
  display: grid;
  place-items: center;
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.category-add-modal {
  background-color: rgba(var(--bg-white));
  width: max-content;
  padding: 1rem;
}